@use "@/styles/breakpoints";

.wrapper {
  --padding: var(--padding-global);
  padding: var(--padding);
  background-color: var(--slate-900);
  border-bottom-left-radius: 3em;
  color: var(--white);

  @media (width <= breakpoints.$tablet) {
    border-bottom-left-radius: unset;
  }
  @media (width <= breakpoints.$mobile) {
    --padding: var(--padding-global-mobile);
  }
}

.wrapperFilled {
  composes: wrapper;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (width <= breakpoints.$mobile) {
    padding-bottom: 4rem;
  }
}

.paragraph {
  color: var(--slate-300);
}

.output {
  background-color: var(--slate-1100);
  border-top: 4px solid var(--lime);
  border-radius: 10px;
  padding: 2em;
  margin-top: 1.5em;
}

.outputLabel {
  composes: paragraph;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
}

.outputValue {
  display: block;
}

.monthlyRepayment {
  composes: outputValue;
  font-size: 3.6rem;
  color: var(--lime);

  @media (width <= breakpoints.$mobile) {
    font-size: 2.5rem;
  }
}

.totalRepayment {
  composes: outputValue;
  font-size: 1.5rem;
  color: var(--white);
  margin-top: 0.5em;
}

.divider {
  border-top: 1px solid var(--slate-700);
  margin-block: 1em 1.5em;
}
