@use "@/styles/breakpoints";

.form {
  --padding: var(--padding-global);
  padding: var(--padding);

  @media (width <= breakpoints.$mobile) {
    --padding: var(--padding-global-mobile);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7em;
  font-size: 1.25rem;

  @media (width <= breakpoints.$mobile) {
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: 1.2em;
  font-weight: var(--font-weight-bold);
}

.row {
  display: flex;
  gap: 1em;

  > * {
    flex: 1;
  }

  @media (width <= breakpoints.$mobile) {
    flex-direction: column;
  }
}

.footer {
  margin-top: 2.3em;
  /* align-self: flex-start; */
}
